In [74]:
import numpy as np
import pandas as pd
import json
import qgrid
pd.set_option('display.max_columns', None)

In [26]:
f_in = open(r"D:\GitHub\trkRhinoPython\datastore.json", 'r')

In [27]:
datastore = json.load(f_in)

In [28]:
# df = pd.DataFrame.from_records(objsdict)
df = pd.DataFrame(datastore)

In [30]:
df = df.convert_dtypes()

In [32]:
df[['areapy', 'area']] = df[['areapy', 'area']].apply(pd.to_numeric)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   level   1102 non-null   string
 1   func    1102 non-null   string
 2   zone    1102 non-null   string
 3   grade   1102 non-null   string
 4   class   1102 non-null   string
 5   areapy  1102 non-null   float64
 6   uid     1102 non-null   string
 7   area    1102 non-null   float64
 8   usage   1102 non-null   string
dtypes: float64(2), string(7)
memory usage: 77.6 KB

In [34]:
df.head()

  level   func zone grade  class  areapy    uid   area usage
0    10  units  res    ag  units   19.96  uid-3  66.00    ot
1     9  units  res    ag  units   16.37  uid-4  54.12    ot
2     8  units  res    ag  units   16.37  uid-5  54.12    ot
3     7  units  res    ag  units   16.37  uid-6  54.12    ot
4    10  units  res    ag  units   19.96  uid-7  66.00    ot

In [35]:
df2 = df[['usage', 'class', 'area']]

In [36]:
df2.head()

  usage  class   area
0    ot  units  66.00
1    ot  units  54.12
2    ot  units  54.12
3    ot  units  54.12
4    ot  units  66.00

In [18]:
# df2 = df2.set_index(['usage', 'class'])

In [48]:
df2.groupby(['usage', 'class']).sum()

                    area
usage   class
apt     na        634.50
        public   1092.74
        units    6416.42
hotel   na        486.00
        public   2534.97
        units    4916.73
ot      na        799.80
        public   1987.11
        units    5968.61
parking public  23064.49
retail  units    6234.16
sports  units    4481.74
utility public   2326.54

In [47]:
df2.groupby('usage').sum()

             area
usage
apt       8143.66
hotel     7937.70
ot        8755.52
parking  23064.49
retail    6234.16
sports    4481.74
utility   2326.54

In [67]:
# df2.groupby('class').sum()
df.groupby(['class', 'uid'])['area'].sum()

class  uid
na     uid-345      9.00
       uid-346      9.00
       uid-347      9.00
       uid-348      9.00
       uid-349      9.00
                   ...
units  uid-94     173.61
       uid-95     173.61
       uid-96     942.96
       uid-98      73.08
       uid-99     796.89
Name: area, Length: 873, dtype: float64

In [46]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   usage   1102 non-null   string
 1   class   1102 non-null   string
 2   area    1102 non-null   float64
dtypes: float64(1), string(2)
memory usage: 26.0 KB

In [55]:
df3 = df[['usage', 'class', 'uid']]

In [56]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   usage   1102 non-null   string
 1   class   1102 non-null   string
 2   uid     1102 non-null   string
dtypes: string(3)
memory usage: 26.0 KB

In [50]:
df3.head()

  usage  class    uid
0    ot  units  uid-3
1    ot  units  uid-4
2    ot  units  uid-5
3    ot  units  uid-6
4    ot  units  uid-7

In [66]:
df3.groupby(['usage', 'class'])['uid'].count()
# df3.groupby('usage')['uid'].count()

usage    class
apt      na         78
         public    109
         units      62
hotel    na         54
         public    133
         units     145
ot       na        134
         public    213
         units     112
parking  public     14
retail   units      35
sports   units       3
utility  public     10
Name: uid, dtype: int64

In [73]:
df3.groupby(['usage', 'class']).nunique()

                usage  class  uid
usage   class
apt     na          1      1   78
        public      1      1   78
        units       1      1   31
hotel   na          1      1   54
        public      1      1  121
        units       1      1  135
ot      na          1      1   94
        public      1      1  142
        units       1      1  101
parking public      1      1    9
retail  units       1      1   22
sports  units       1      1    3
utility public      1      1    5

In [82]:
qgrid.enable(dataframe=True)

In [83]:
df.head()

AttributeError: module 'pandas.core' has no attribute 'index'

  level   func zone grade  class  areapy    uid   area usage
0    10  units  res    ag  units   19.96  uid-3  66.00    ot
1     9  units  res    ag  units   16.37  uid-4  54.12    ot
2     8  units  res    ag  units   16.37  uid-5  54.12    ot
3     7  units  res    ag  units   16.37  uid-6  54.12    ot
4    10  units  res    ag  units   19.96  uid-7  66.00    ot

In [84]:
# qgrid_widget = qgrid.show_grid(df2, show_toolbar=True)
# qgrid_widget