In [1]:
import pandas as pd
import json
pd.set_option('display.max_columns', None)

In [4]:
f_in = open(r"D:\GitHub\trkRhinoPython\datastore.json", 'r')

In [5]:
objsdict = json.load(f_in)

In [6]:
print(type(objsdict))

<class 'list'>

In [9]:
df = pd.DataFrame.from_records(objsdict)

In [11]:
df.head()

  level   func zone grade  class    uid areapy   area usage
0    10  units    2    AG  units  uid-1  19.96   66.0    ot
1     9  units    2    AG  units  uid-2  16.37  54.12    ot
2     8  units    2    AG  units  uid-3  16.37  54.12    ot
3     7  units    2    AG  units  uid-4  16.37  54.12    ot
4    10  units    2    AG  units  uid-5  19.96   66.0    ot

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 9 columns):
level     873 non-null object
func      873 non-null object
zone      873 non-null object
grade     873 non-null object
class     873 non-null object
uid       873 non-null object
areapy    873 non-null object
area      873 non-null object
usage     873 non-null object
dtypes: object(9)
memory usage: 61.5+ KB

In [13]:
df[['areapy', 'area']] = df[['areapy', 'area']].apply(pd.to_numeric)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 9 columns):
level     873 non-null object
func      873 non-null object
zone      873 non-null object
grade     873 non-null object
class     873 non-null object
uid       873 non-null object
areapy    873 non-null float64
area      873 non-null float64
usage     873 non-null object
dtypes: float64(2), object(7)
memory usage: 61.5+ KB

In [15]:
df.head()

  level   func zone grade  class    uid  areapy   area usage
0    10  units    2    AG  units  uid-1   19.96  66.00    ot
1     9  units    2    AG  units  uid-2   16.37  54.12    ot
2     8  units    2    AG  units  uid-3   16.37  54.12    ot
3     7  units    2    AG  units  uid-4   16.37  54.12    ot
4    10  units    2    AG  units  uid-5   19.96  66.00    ot